@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3  form-control-range col-lg-12 text-lg-center  text-white" style="background-color:darkcyan;">Welcome to ShopBridge</h1>
    
    <div >
        <img class="display-1 col-6" src="/images/shop.jpg" alt="Sample Photo" />
    </div>   
    
</div>
 